<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link id="page-icon" rel="shortcut icon" href="/static/icons/favicon.png" />
    <link rel="stylesheet" type="text/css" href="/static/index.css" />
    <script src="/static/index.js"></script>
    {% block include %}{% endblock %}
  </head>
  <body>
    <div id="sidebar">
      <div id="search-sidebar-box" class="sidebar-box">
        <span>Search:</span>
        <input id="search-sidebar-box-input">
      </div>
    </div>
    <div id="page-content">
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
